X.pkl
y.pkl
.ipynb_checkpoints/2020_Attempt-checkpoint.ipynb
.ipynb_checkpoints/2020_Attempt-checkpoint.ipynb
.ipynb_checkpoints/Driven Data - Pump it Up - Data Mining the Water Table Training GridSearch-checkpoint.ipynb
dtest.svm
dtrain.svm
dump.raw.txt
submission__xgb_290520.csv
submission_290520.csv
